# Code Owners for AppClean
# For more information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Main repository owner
* @praveenkay
